<!--<app-menuu></app-menuu>
<div class="row">
<div class="col-3">
<app-sidepar></app-sidepar>
</div>
<div class="col-8">
    <div class="row align-items-center">
<app-cources class="col-4"></app-cources>
<app-rate class="col-4"></app-rate>
</div>
<div class="row align-items-center">
    <app-cources class="col-4"></app-cources>
    <app-rate class="col-4"></app-rate>
    </div>
    <div class="row align-items-center">
        <app-cources class="col-4"></app-cources>
        <app-rate class="col-4"></app-rate>
        </div>
</div>-->
<app-navbar></app-navbar>
